<app-menu></app-menu>
<p>pokedex works!</p>
<p-table [value]="pokemons.results" [autoLayout]=true styleClass="p-datatable-sm">
  <ng-template pTemplate="header">
      <tr>
          <th>Número</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Raiting</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pokemons>
      <tr>
          <td></td>
          <td>{{pokemons.name | titlecase}}</td>
          <td></td>
          <!-- <td><p-rating [ngModel]="pokemons.raiting" [readonly]="true" [cancel]="false"></p-rating></td> -->
      </tr>
  </ng-template>
</p-table>
